<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-8">

      <div class="card text-center" *ngIf="submitted">
        <div class="card-body">
          <h3 class="card-title text-success">Congratulation!!</h3>
          <p class="card-text">You have successfully registered your account</p>
          <a routerLink="/login" class="btn btn-primary">Login</a>
        </div>

      </div>
      <!-- Material form login -->
      <!-- Card -->
      <div class="card border" *ngIf="!submitted">

        <!-- Card body -->
        <div class="card-body px-5">


          <form (ngSubmit)="onSubmit(regForm)" #regForm="ngForm">
            <p class="h4 text-center py-4">Sign up</p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="firstname">FirstName</label>
                  <!-- -->
                  <input type="text" ngModel name="firstname" class="form-control" placeholder="FirstName" required #fn="ngModel">
                  <!-- <span class="text-muted small" *ngIf="!fn.valid && fn.touched">FirstName is required</span> -->
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="lastname">LastName</label>
                  <input type="text" name="lastname" class="form-control" placeholder="LastName" ngModel required #ln="ngModel">
                  <span class="text-muted small" *ngIf="!ln.valid && ln.touched">LastName is required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="emialId">Email Id</label>
                  <input type="email" name="emailId" class="form-control" placeholder="Email" ngModel required email #emId="ngModel">
                  <span class="text-muted small" *ngIf="!emId.valid && emId.touched">Email Id is required</span>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password" ngModel required #password="ngModel">
                  <span class="text-muted small" *ngIf="!password.valid && password.touched">Password is required</span>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="">Date of Birth</label>
                  <div class="input-group">
                    <input type="text" name="dob" class="form-control" placeholder="Date Of Birth" ngbDatepicker #d="ngbDatepicker" ngModel required
                      #dob="ngModel">
                    <div class="compact input-group-append">
                      <button type="button" class="btn compact" (click)="d.toggle()">
                        <i class="fa fa-calendar compact" aria-hidden="true"></i>
                      </button>
                    </div>

                  </div>
                  <span class="text-muted small" *ngIf="!dob.valid && dob.touched">Date of Birth is required</span>


                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="phoneNumber">Phone</label>
                  <input type="text" class="form-control" name="phnnumber" placeholder="Phone Number" ngModel required #ph="ngModel">
                  <span class="text-muted small" *ngIf="!ph.valid && ph.touched">
                    Phone Number is required
                  </span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <!--  -->
                  <button type="submit" class="btn btn-block btn-primary" [disabled]="!regForm.valid">Register</button>
                </div>

              </div>

            </div>



          </form>


        </div>

      </div>
    </div>
  </div>
</div>
