<div class="container mb-3">
  <div class="card card-body">
    <form (ngSubmit)="onSearch()" #tradeSearchForm="ngForm" id="tradeSearchfilterform">
      <div class="row">
        <div class="col-sm-12 col-lg-2">
          <p>Trade date</p>
          <div class="d-flex flex-row">
            <div class="form-group mr-1">
              <div class="input-group">
                <input type="text" name="fromdate" class="form-control form-control-sm" [(ngModel)]="tradeSearchModel.fromdate" ngbDatepicker
                  #f="ngbDatepicker">
                <div class="compact input-group-append">
                  <button class="btn compact" (click)="f.toggle()">
                    <i class="fa fa-calendar compact" aria-hidden="true"></i>
                  </button>
                </div>


              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" name="todate"
                class="form-control form-control-sm" ngbDatepicker #d="ngbDatepicker"
                 [minDate]="mindate" [(ngModel)]="tradeSearchModel.todate">
                <div class="compact input-group-append">
                  <button class="btn compact" (click)="d.toggle()">
                    <i class="fa fa-calendar compact" aria-hidden="true"></i>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2">

          <p>Commodity</p>

          <div class="form-group">
            <app-ddlselect [options]="ddlcommitems"></app-ddlselect>
          </div>


        </div>
        <div class="col-sm-12 col-lg-2">
          <p >Side</p>
          <div class="form-group">
              <div class="d-flex flex-row">
                  <div class="form-check form-sm mr-3">
                    <input class="form-check-input" name="chkBuy" type="checkbox" id="chkBuy" [(ngModel)]="tradeSearchModel.buy">
                    <label class="form-check-label text-muted" for="checkbox1">Buy</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="chkSell" type="checkbox" id="chkSell" [(ngModel)]="tradeSearchModel.sell">
                    <label class="form-check-label text-muted" for="checkbox1">Sell</label>
                  </div>

                </div>
          </div>

        </div>
        <div class="col-sm-12 col-lg-2">
          <p>Counterparty</p>
          <div class="form-group">
            <app-ddlselect [options]="ddlcounterpartyitems"></app-ddlselect>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2">
          <p>Location</p>
          <div class="form-group">
            <app-ddlselect [options]="ddlcountryitems"></app-ddlselect>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2   align-self-end">
            <div class="d-flex flex-row">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm mr-2" value="SEARCH">
                    <button class="btn btn-secondary btn-sm">CLEAR</button>
                </div>


              </div>
        </div>


      </div>

    </form>
  </div>
</div>
