/* You can add global styles to this file, and also import other style files */
$bg-color:#353030;
$font-color:#F3E9E9;
$dark-overlay :rgba(20, 25, 19, 0.87);
$nav-overlay:rgba(0,0,0,0.7);


html{
  height: 100%;


}
body{
  background: url("../src/images/airport-bank-board-534216.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .dark-overlay{
    background-color: $dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 100%
  }
  .navbar-overlay{
    background-color: rgba(27, 43, 23, 0.753);
  }
  .compact{
    margin:0;
    padding: 0;
  }

  #tradeSearchfilterform{
    .form-control-sm,{
    padding: 0.25rem 0.1rem;
    font-size: 0.6rem;
    }
    select.form-control-sm{
      height: 1.7rem;
    }
  }
}
