<div class="card card-body px-2 py-2">
  <form [formGroup]="tradeEditCreateForm">
    <table class="table bg-light">
      <thead class="bg-primary">
        <tr>
          <th>
            <span class="m-0 p-0">
              <strong>Trade Id :</strong>
            </span>
            <span class="m-0 p-0">
              <input type="text" id="tradeId" formControlName="id">
            </span>

          </th>
        </tr>
      </thead>
      <tr class="pb-0 mb-0">
        <td class="pb-0 mb-0">

          <!-- TRADE DATE -->
          <div class="form-group row px-0 py-0 mb-1">
            <label for="tradeDate" class="font-weight-light col-form-label col-sm-6 my-0">Trade Date</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" name="tradeDate" formControlName="tradeDate">
              </div>
            </div>
          </div>

          <!-- COMMODITY -->
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Commodity</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" formControlName="commodity">
              </div>
            </div>

          </div>
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Trade Side</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" formControlName="tradeSide">

              </div>

            </div>

          </div>
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Counterparty</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" formControlName="counterparty">

              </div>

            </div>

          </div>
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Quantity</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" formControlName="quantity">
              </div>

            </div>

          </div>
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Price</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm" formControlName="price">

              </div>

            </div>

          </div>
          <div class="form-group row px-0 py-0 mb-1">
            <label for="materialFormCardNameEx" class="font-weight-light  col-form-label col-sm-6 my-0">Location</label>
            <div class="col-sm-6 ml-0">
              <div class="md-form form-sm mt-1 mx-0 bg-light">
                <input type="text" class="form-control form-control-sm"
                formControlName="location"
                >

              </div>

            </div>

          </div>
        </td>

      </tr>

    </table>
  </form>
</div>
